html {
  font-family: "Open Sans", sans-serif;
}

form {
  background-color: #fff;
}

input {
  border-color: #000;
}

select {
  border-color: #000;
}

textarea {
  border-color: #000;
}

.btn {
  background-color: #2d2d2d;
  padding: .5rem;
  color: #fff;
}

h1 {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #f2f2f2;
  }

}
